.done {
    text-decoration: line-through;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  input[type=text] {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
  }
  
  button {
    background-color: #004029;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }